@page
@model IndexModel
@{
    ViewData["Title"] = "Home page X";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web App with ASP.NET Core</a>.</p>
</div>
